<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">
             <div><img class="val" src="./assets/a.JPG" alt="valprop"> </div> <div class="icontext"><h2>Value Proposition - Cozi Elevate Account Package </h2></div>
             
          </mat-card-content >
          <mat-card-actions align="end" class="top-nav">
            
             <button mat-raised-button (click)="openFormDialog()" > <mat-icon>add</mat-icon>New</button>
          </mat-card-actions>
        </mat-card>
        
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="850px">
      <mat-grid-tile>
        <mat-card class="titlecard">
          <mat-card-header>
            <mat-card-title>
            </mat-card-title>
          </mat-card-header>
          <!-- <mat-card-content class="form">
            <mat-form-field [formGroup]="form" class="input" hintLabel="Max 10 characters" appearance="fill">
                <mat-label>RPG Code</mat-label>
                <input formControlName="rpg" matInput #input maxlength="10" >
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            
                <mat-checkbox class="check" checked="true">Active</mat-checkbox>
          </mat-card-content>
          <mat-card-content class="form">
            <mat-form-field [formGroup]="form" class="input" hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Value Proposition Name</mat-label>
                <input formControlName="name" matInput #input maxlength="10" >
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            
              <mat-form-field [formGroup]="form" class="input" hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Effective Date</mat-label>
                <input formControlName="edate" matInput #input maxlength="10" >
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
          </mat-card-content>
          <mat-card-content class="form">
            <mat-form-field [formGroup]="form" class="input" hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Short Name</mat-label>
                <input formControlName="sname" matInput #input maxlength="10" >
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            
              <mat-form-field [formGroup]="form" class="input" hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Hierarchy</mat-label>
                <input formControlName="hier" matInput #input maxlength="10" >
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
          </mat-card-content> -->
          <mat-card-content class="panel">
            <mat-accordion class="example-headers-align" [formGroup]="addinfo">
                <mat-expansion-panel  [expanded]="step === 0" (opened)="open(); setStep(0)" (closed)="closed()" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span *ngIf="!down" class="material-icons">
                        keyboard_arrow_right
                        </span>
                        <span *ngIf="down" class="material-icons">
                        keyboard_arrow_down
                        </span>
                      Details
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-form-field class="innerform">
                    <mat-label>V-Code</mat-label>
                    <input matInput formControlName="vcode">
                  </mat-form-field>
                  <mat-form-field class="innerform">
                    <mat-label>Rec Type</mat-label>
                    <input matInput formControlName="rectype">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="innerform">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code">
                  </mat-form-field>
                  <mat-form-field class="innerform">
                    <mat-label>Group Code
                    </mat-label>
                    <input matInput formControlName="groupcode">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="innerform">
                    <mat-label>Type</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="innerform">
                    <mat-label>TPS Segment Type</mat-label>
                    <input matInput formControlName="tps">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="innerform">
                    <mat-label>RMS Seg Type</mat-label>
                    <input matInput formControlName="rms">
                  </mat-form-field>
                  <mat-form-field class="innerform">
                    <mat-label>Statement Language Count
                    </mat-label>
                    <input matInput formControlName="slc">
                  </mat-form-field>
                   <br>
                  <mat-form-field class="innerform">
                    <mat-label>BP Type</mat-label>
                    <input matInput formControlName="bp">
                  </mat-form-field>
                  <mat-form-field class="innerform">
                    <mat-label>
                        Language Code
                        </mat-label>
                    <input matInput formControlName="lc">    
                  </mat-form-field>
              
                  <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                  </mat-action-row>
                </mat-expansion-panel>
                <mat-expansion-panel  [expanded]="step === 1" (opened)="open2(); setStep(1)" (closed)="closed2()" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span *ngIf="!down2" class="material-icons">
                          keyboard_arrow_right
                          </span>
                          <span *ngIf="down2" class="material-icons">
                          keyboard_arrow_down
                          </span>
                        Features
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <table mat-table [dataSource]="tabledata" class="mat-elevation-z8">

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!-- Position Column -->
                      <ng-container matColumnDef="position"> 
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="fcode" >
                        <th mat-header-cell *matHeaderCellDef> Feature Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.fcode}} </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="ffam">
                        <th mat-header-cell *matHeaderCellDef> Feature Family </th>
                        <td mat-cell *matCellDef="let element"> {{element.ffam}} </td>
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="fname">
                        <th mat-header-cell *matHeaderCellDef> Feature Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="subc">
                        <th mat-header-cell *matHeaderCellDef> Subcategory </th>
                        <td mat-cell *matCellDef="let element"> {{element.subc}} </td>
                      </ng-container>
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Effective Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                    
                    <!-- <mat-form-field class="innerform">
                      <mat-label>V-Code</mat-label>
                      <input matInput formControlName="vcode">
                    </mat-form-field>
                    <mat-form-field class="innerform">
                      <mat-label>Rec Type</mat-label>
                      <input matInput formControlName="rectype">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="innerform">
                      <mat-label>Code</mat-label>
                      <input matInput formControlName="code">
                    </mat-form-field>
                    <mat-form-field class="innerform">
                      <mat-label>Group Code
                      </mat-label>
                      <input matInput formControlName="groupcode">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="innerform">
                      <mat-label>Type</mat-label>
                      <input matInput>
                    </mat-form-field>
                    <mat-form-field class="innerform">
                      <mat-label>TPS Segment Type</mat-label>
                      <input matInput formControlName="tps">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="innerform">
                      <mat-label>RMS Seg Type</mat-label>
                      <input matInput formControlName="rms">
                    </mat-form-field>
                    <mat-form-field class="innerform">
                      <mat-label>Statement Language Count
                      </mat-label>
                      <input matInput formControlName="slc">
                    </mat-form-field>
                     <br>
                    <mat-form-field class="innerform">
                      <mat-label>BP Type</mat-label>
                      <input matInput formControlName="bp">
                    </mat-form-field>
                    <mat-form-field class="innerform">
                      <mat-label>
                          Language Code
                          </mat-label>
                      <input matInput formControlName="lc">    
                    </mat-form-field> -->
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
              
                <mat-expansion-panel [expanded]="step === 2" (opened)="open3(); setStep(2)" (closed)="closed3()" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span *ngIf="!down3" class="material-icons">
                        keyboard_arrow_right
                        </span>
                        <span *ngIf="down3" class="material-icons">
                        keyboard_arrow_down
                        </span>
                      Description
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <mat-form-field class="innerform">
                    <mat-label>Summary Description

                        </mat-label>
                    <input matInput formControlName="desc">    
                  </mat-form-field>
              
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                  </mat-action-row>
                </mat-expansion-panel>
              
                <mat-expansion-panel [expanded]="step === 3" (opened)="open4(); setStep(3)" (closed)="closed4()" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="!down4" class="material-icons">
                          keyboard_arrow_right
                          </span>
                          <span *ngIf="down4" class="material-icons">
                          keyboard_arrow_down
                          </span>
                      System Admin
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <mat-checkbox class="check" checked="false">Is Standard Value Proposition</mat-checkbox>
                  <mat-form-field class="innerform">
                    <mat-label>
                        
                        Last Modified By
                        </mat-label>
                    <input matInput formControlName="modify">   
                    </mat-form-field>
                    <br>
                    <mat-form-field class="innerform2">
                        <mat-label>
                            Created By
                            </mat-label>
                        <input matInput formControlName="create">  
                        </mat-form-field> 
              
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">End</button>
                  </mat-action-row>
                </mat-expansion-panel>
              
              </mat-accordion>
          </mat-card-content>
          <mat-card-actions class="bottom-nav" align="end">
          <button mat-raised-button class="home-button" (click)="goHome()" > <mat-icon class="back-icon">keyboard_backspace</mat-icon>Back</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      </mat-grid-list>
      </div>

