<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" (click)="nextPage()">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position"> 
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fcode" >
      <th mat-header-cell *matHeaderCellDef> Feature Code </th>
      <td mat-cell *matCellDef="let element"> {{element.fcode}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="ffam">
      <th mat-header-cell *matHeaderCellDef> Feature Family </th>
      <td mat-cell *matCellDef="let element"> {{element.ffam}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef> Feature Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="subc">
      <th mat-header-cell *matHeaderCellDef> Subcategory </th>
      <td mat-cell *matCellDef="let element"> {{element.subc}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Effective Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  