.mat-table{
    background-color: white;
    color: black;
    cursor: pointer;
}
.mat-header-cell{
    color: black;
    padding: 12px 12px 12px 0;
}
.mat-cell{
    color: black;
    padding: 12px 12px 12px 0;
}
table {
    width: 100%;
  }
