<p>
    <mat-form-field appearance="legacy">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary">Submit</button>
  <button mat-raised-button color="warn">Cancel</button>