<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
           <div><mat-icon>build</mat-icon></div> <div class="icontext"><h2>Product Hub </h2></div>
           
        </mat-card-content >
        <mat-card-actions align="end">
          
          <button mat-raised-button (click)="openFormDialog()"> <mat-icon>add</mat-icon>New Feature</button>
        </mat-card-actions>
      </mat-card>
      
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile>
      <mat-card class="titlecard">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="title-card-content">
          <img class="icon2" mat-card-image src="./assets/c.JPG" alt="features">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
    <div class="cards">
      
        <mat-card class="prodcard">
          Product Lookup
          <br>
          <br>
          <mat-card-content class="prod-card-content">
            <mat-card class="prop" (click)="openTableDialog()">
            <img class="val" mat-card-image src="./assets/a.JPG" alt="valprop"> 
            <mat-card-subtitle class="proptext">Value Proposition</mat-card-subtitle>
          </mat-card>
          <mat-card class="feature" (click)="clickAlert()">
            <img class="feat" mat-card-image src="./assets/b.JPG" alt="features">
            <mat-card-subtitle class="feattext">Features</mat-card-subtitle>
          </mat-card>
          </mat-card-content>
        </mat-card>
        <mat-card class="maintcard">
          Segment Maintenance
          <mat-card-header>
          </mat-card-header>
          <mat-card-content class="maint-card-content">
            <mat-card class="AO" (click)="openNewDialog()">
              <img class="icon1" mat-card-image src="./assets/1.JPG" alt="features">
              <mat-card-subtitle class="icontext">Account Opening</mat-card-subtitle>
            </mat-card>
            <mat-card class="AO" (click)="clickAlert()">
              <img class="icon1" mat-card-image src="./assets/2.JPG" alt="features">
              <mat-card-subtitle class="icontext">Account Titling</mat-card-subtitle>
            </mat-card>
            <mat-card class="AO" (click)="clickAlert()">
              <img class="icon1" mat-card-image src="./assets/3.JPG" alt="features">
              <mat-card-subtitle class="icontext">Channel Access</mat-card-subtitle>
            </mat-card>
          <mat-card class="AO" (click)="clickAlert()">
            <img class="icon1" mat-card-image src="./assets/4.JPG" alt="features">
            <mat-card-subtitle class="icontext">Communications</mat-card-subtitle>
          </mat-card>
            </mat-card-content>
          </mat-card>
</div>
