.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  width: 98%;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.titlecard {
position:absolute;
top: -10px;
width: 98%;
height: auto;
margin-left: -5px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: black;
}

.dashboard-card-content {
  display: inline-flex;
  vertical-align: middle;
  margin-top: -15px;
  
  color: black;
}
.logo{
  color: blue;
  font-size: 50px;
  font-weight: bold;

}
.title{
  margin-left: 10px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.title-card-content {
  display: inline-flex;
  vertical-align: middle;
  // margin-top: 10px;
}
.cards {
  display: inline-flex;
  // vertical-align: middle;
  margin-top: 10px;
  margin-left: 15px;
  width: 98%;
  color: black;
}

.prod-card-content {
  display: inline-flex;
  vertical-align: middle;
  
  // margin-top: 10px;
}
.lookup{
  display: inline-flex;
  vertical-align: middle;

 margin-right: 10px;
}
.prodcard{
  margin-right: 20px;
  width: 35%;
  
 
}
.mat-card{
  color: black !important;
}
.maintcard{
//   margin-left: 300px;
//   margin-top: -90px;
//   height: 60%;
  width: 75%
}

.maint-card-content {
  display: inline-flex;
  vertical-align: middle;
  // margin-top: 10px;
}
.mat-card {
  background: white;
  color: #fff;
}
.icontext {
  color: gray;
  margin-top: -5px;
  margin-left: 10px;
}
.mat-grid-tile.title-card{
  top: 25px;
}
.val{
margin-left: -10px;
padding-top: 10px;
height: 140px;
width: 140px;


}
.feat{
  // margin-left: 30px;
  padding-top: 20px;
  height: 160px;
  width: 160px;
 
}
.mat-card-subtitle{
  color: black;
}
.prop {
  margin-right: 20px;
  padding-top: 20px;
  
}
.card-header{
  color: black;
  background: white;
  margin-left: 0px;
}
.proptext{
  margin-left: 0px;
}
.feattext{
  margin-top: -20px !important;
  margin-left: 20px;
}